<div class="container">

    <!-- <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor [editor]="editor" [(ngModel)]="jsonDoc" editable="true" placeholder="Type here..."
        (ngModelChange)="onChange($event)"></ngx-editor>
    </div> -->

    <!-- <div class="NgxEditor__Wrapper"> -->
    <br>

    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form">
                <!-- <h4 style="margin-bottom: 4px">Lekh Details: </h4> -->
                <br>
                <div class="form-row">
                    <div class="col-md-11" style="margin-bottom: 2px">
                        <input type="text" class="form-control" id="title" formControlName="title"
                            placeholder="शीर्षक (Title):" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-11" style="margin-bottom: 2px">
                        <input type="text" class="form-control" id="author" formControlName="author"
                            placeholder="लेखक (Author):" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-11" style="margin-bottom: 2px">
                        <input type="text" class="form-control" id="source" formControlName="source"
                            placeholder="मासिक / ग्रंथ (Magazine / Book):">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-11" style="margin-bottom: 2px">
                        <input type="text" class="form-control" id="publisher" formControlName="publisher"
                            placeholder="प्रकाशक (Publisher):">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-11" style="margin-bottom: 2px">
                        <input type="text" class="form-control" id="date" formControlName="date"
                            placeholder="प्रकाशन दिनांक (Published Date):">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-11" style="margin-bottom: 2px">
                        <textarea type="text" class="form-control" id="description" formControlName="description"
                            placeholder="माहिती (Description):"></textarea>
                    </div>
                </div>
                <!-- <div class="form-row"> -->
                    <div class="col-md-11" style="margin-bottom: 2px">
                        <br>
                        <!-- <h6 style="margin-bottom: 4px">लेख येथे लिहा:</h6> -->
                        <div class="editor">
                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                            </ngx-editor-menu>
                            <ngx-editor [editor]="editor" id="editorContent" formControlName="editorContent"
                                style="height: 200px;" placeholder="लेख येथे लिहा (Type lekh here)...">
                            </ngx-editor>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-md-11" style="margin-bottom: 2px">
                            <input type="text" class="form-control" id="keywords" formControlName="keywords"
                                placeholder="सूचक शब्द (Keywords - Comma Separated):">
                        </div>
                    </div>
                    <!-- </div> -->
                <div class="form-row">
                    <div class="col-md-11" style="margin-bottom: 2px">
                        <br>
                        <button type="submit" (click)="saveLekh()" class="btn btn-primary" data-toggle="tooltip"
                            data-placement="top" title="Save to database">Save to database</button>
                    </div>
                </div>
                <!-- <div class="row">
            <div class="col-md-2">
                <h4 class="text-info">Title :</h4>
            </div>
            <div class="col-md-10">

            </div>
        <div class="row">
            <div class="col">
                <div>
                    <h5 class="text-info">Lekh :</h5>
                </div>
                <div class="editor">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                    </ngx-editor-menu>
                    <ngx-editor [editor]="editor" id="editorContent" formControlName="editorContent"
                        (ngModelChange)="onChange($event)">
                    </ngx-editor>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <button type="submit" (click)="saveLekh()" class="btn btn-primary" data-toggle="tooltip"
                    data-placement="top" title="Save to database">Save to database</button>
            </div>
        </div> -->
            </form>
        </div>
    </div>
    <!-- </div> -->

    <br>
    <div>
        <h3 class="text-info">Output</h3>
    </div>

    <div [innerHTML]="html | safehtml">
    </div>


</div>