/* You can add global styles to this file, and also import other style files */

.dynamic-lekh {
    h5, .h5 {
        text-align: justify;
        line-height: 1.6;
        color: #333;
        font-weight: normal;
        margin-bottom: 1.6em;
    }
    p {
        text-align: justify;
        font-size: large;
        line-height: 1.6;
        color: #333;
        font-weight: normal;
        margin-bottom: 1.6em;

        blockquote {
            margin-left: 1.6em;
            padding-left: 1.6em;
        }
    }
}
